---
import data from "../../content/data.json";
import BaseLayout from "../../layouts/BaseLayout.astro";
import CTA from "../../components/landing/Cta.astro";
import ctaTaller from "../../components/landing/ctaTaller.astro";
import "@/styles/global.css";

export async function getStaticPaths() {
  const talleres = data.talleres;
  return talleres.map(
    ({
      id,
      imgcover,
      tituloTaller,
      year,
      description,
      contenido,
      link,
      img1,
      embed,
    }) => {
      return {
        params: { id },
        props: {
          id,
          imgcover,
          tituloTaller,
          year,
          description,
          contenido,
          link,
          img1,
          embed,
        },
      };
    }
  );
}

const { id } = Astro.params;
const {
  imgcover,
  tituloTaller,
  year,
  description,
  contenido,
  link,
  img1,
  embed,
} = Astro.props;

//console.log(embed[0].video)
---

<style></style>
<BaseLayout>
  <!--Taller/-->
  <div class="pt-12">
    <img class="w-full lg:w-1/2 mx-auto lg:pt-12" src={imgcover} />
  </div>
  <ctaTaller link={link}></ctaTaller>
  <div class="mx-auto max-w-7xl border border-white/20 px-8 py-12 text-white">
    <h1 class="text-white mx-auto text-3xl">{tituloTaller}</h1>
    <p class="text-white mx-auto pt-6" set:html={description} />
    <br />
    <img src="https://sinestesialab.xyz/4.webp" class="w-full lg:w-1/2" />
    <br /><div><h1 class="text-3xl pt-12">Tema por Sesión</h1></div>
    <p class="text-white mx-auto pt-6" set:html={contenido} />
    <div><h1 class="text-3xl">Ejemplos de FoxDot:</h1><br /></div>
    <div class="grid lg:grid-cols-3 gap-4 grid-cols-1">
      <!--{embed[0].map((youtube) => (-->
      <iframe
        width="100%"
        height="474"
        src="https://www.youtube.com/embed/4IfgcHmQiDg"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
      <iframe
        width="100%"
        height="474"
        src="https://www.youtube.com/embed/DrCrBVWS-pE"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
      <iframe
        width="100%"
        height="474"
        src="https://www.youtube.com/embed/alOggvy1R8M"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
      <!--))}-->
    </div>
  </div>

  <ctaTaller link={link}></ctaTaller>
  <CTA />
</BaseLayout>
